<template>
  <div>
    <p class="text-center text-gray-500 text-xs mt-3">
      A
      <a
        href="https://francescosorge.com"
        target="_blank"
        rel="noopener"
        class="text-blue-500 hover:text-blue-800"
        >Francesco Sorge</a
      >
      production.
    </p>
    <p class="text-center text-gray-500 text-xs mt-3">
      Website made with
      <a
        href="https://vuejs.org"
        target="_blank"
        rel="noopener"
        class="text-blue-500 hover:text-blue-800"
        >VueJS</a
      >,
      <a
        href="https://tailwindcss.com"
        target="_blank"
        rel="noopener"
        class="text-blue-500 hover:text-blue-800"
        >Tailwindcss</a
      >,
      <a
        href="https://www.typescriptlang.org"
        target="_blank"
        rel="noopener"
        class="text-blue-500 hover:text-blue-800"
        >TypeScript</a
      >
      and
      <a
        href="https://realfavicongenerator.net/"
        target="_blank"
        rel="noopener"
        class="text-blue-500 hover:text-blue-800"
        >RealFaviconGenerator</a
      >.
    </p>
    <p class="text-center text-gray-500 text-xs mt-3">
      Would like to contribute? Head over to my GitLab
      <a
        href="https://gitlab.com/fsorge/dockerun-frontend"
        target="_blank"
        rel="noopener"
        class="text-blue-500 hover:text-blue-800"
        >repo</a
      >.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Footer",
});
</script>
