<template>
  <div>
    <label :for="id" class="block text-gray-700 text-sm font-bold mb-2">
      <font-awesome-icon v-if="icon" :icon="icon" class="mr-1" />{{ label }}
    </label>
    <input
      v-if="tagType === 0"
      :id="id"
      :type="type"
      :placeholder="placeholder"
      :class="classes"
      v-bind="value"
      @input="$emit('input', $event.target.value)"
      :min="min"
      :max="max"
    />

    <select
      v-if="tagType === 1"
      :id="id"
      :class="classes"
      v-bind="value"
      @change="$emit('change', $event.target.value)"
    >
      <option
        v-for="option in options"
        :key="option.label"
        :value="option.value"
        >{{ option.text }}</option
      >
    </select>
  </div>
</template>

<script lang="ts">
import { v4 as uuidv4 } from "uuid";
import Vue from "vue";

export enum ETagType {
  TEXT,
  SELECT,
}

export default Vue.extend({
  name: "LabelInput",
  props: {
    icon: {
      type: String,
      default: null,
    },
    id: {
      type: String,
      default: () => uuidv4(),
    },
    tagType: {
      type: Number,
      default: ETagType.TEXT,
    },
    label: {
      type: String,
      default: null,
    },
    value: String,
    placeholder: String,
    type: {
      type: String,
      default: "text",
    },
    classes: {
      type: String,
      default:
        "shadow appearance-none border rounded w-full pt-2 pb-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline transition ease-in-out duration-200",
    },

    min: {
      type: Number,
    },
    max: {
      type: Number,
    },

    options: {
      type: Array,
    },
  },
});
</script>
